<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <h1>登录</h1>
    <div id = 'app'>
      username: <input v-model="username" type="text"><br/>
      password: <input v-model="password" type="password"><br/>
      <button v-on:click="login">登 录</button>
    </div>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data:{
            username: '',
            password: ''
        },
        methods:{
            login: function () {
                var that = this;
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    url: 'http://localhost:8080/user/login',
                    data: {
                        username: that.username,
                        password: that.password
                    },
                    success(res){
                        if(res.code == '0000'){
                            location.href = 'http://localhost:8080/home.html';
                        }else {
                            alert(res.msg);
                        }
                    }
                })
            }
        }
    })

</script>
</html>